#Titulo {
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration-line: underline;
    animation-name: AnimTitle;
    animation-duration: 2s;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: black;
}
 
#Iphone14pro{
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration-line: underline;
    animation-name: AnimTitle;
    animation-duration: 2s;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: black;
}
 
#fondo {
    background-color: red;
}
 
.izquierda {
    background-color: rgb(193, 193, 193);
    height: 100vh;
    width: 50%;
}
 
#notch {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
 
.header{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}
.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
}
 
.header .btn button{
    font-weight: 700;
    padding: 9px 25px;
    background: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
 
.header .logo{
    cursor: pointer;
}
 
.header .logo img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
}
 
.header .logo img:hover{
    transform: scale(1.2);
}
 
.header .nav-links li:hover{
    transform: scale(1.1);
}
 
.header .nav-links a{
    font-size: 700;
    color: white;
    text-decoration: none;
}
 
.derecha2 {
    background: url(iPhone-14-Pro-Max-Review_02.webp);
    background-size: cover;
    background-position: center;
    width: 50%;
    height:  100vh;
}
 
.derecha {
    background: url(iphone14.jpg);
    background-size: cover;
    background-position: center;
    width: 50%;
    height:  100vh;
}
 
#pantalla-dividida {
    display: flex;
}
 
body {
    background-color: rgb(255, 255, 255);
}
 
#imagen1{
    animation-name: animacion1;
    animation-duration: 2.8s;
    border-radius: 5%;
}
 
@keyframes animacion1 {
    0%{
        opacity: 0;
    }
 
    100%{
        opacity: 100;;
    }
    
}
 
@keyframes AnimTitle {
    0%{
        transform: translateX(-300px);
    }
 
    100%{
        transform: translateX(0px);
    }
    
}
